<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🍀</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

{# {% block title %}Greenhood - Login{% endblock %} #}
{% block body %}

    <body class="bg-green-500 h-screen overflow-hidden flex items-center justify-center">
        <div class="h-screen flex w-full">
            <div class="flex w-1/2 i justify-around items-center">
                <div>
                    {# <img class="w-48" src="/build/images/greenhood-white.png"> #}
                    <h1 class="text-white font-bold text-8xl font-sans">Greenhood</h1>
                </div>
            </div>

            <div class="flex w-1/2 justify-center items-center bg-white">
                <form class="bg-white" action="{{ path('login') }}" method="post">
                    <h1 class="text-gray-800 font-bold text-2xl mb-4">Hello again !</h1>
                    <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="pl-2 outline-none border-none"/>
                    </div>
                    <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                        <input type="password" id="password" name="_password" class="pl-2 outline-none border-none"/>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button class="mt-6 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" type="submit">Login</button>
                </form>
            </div>
        </div>
    </body>
{% endblock %}
</html>
