{% extends 'base.html.twig' %}

{% block title %}{{ criterion.name }}{% endblock %}

{% block body %}

    {% include 'navbar.html.twig' %}

    <div class="w-full lg:w-4/5 p-8 mt-6 lg:mt-0 text-gray-900 leading-normal bg-white border border-gray-400 border-rounded flex-grow">

    <h1 class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl">Criteria: {{ criterion.name }}</h1>

<div class="flex flex-col mb-6">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="mt-4 table-auto min-w-full text-left">

                    <tr>
                        <th class="text-sm font-medium text-gray-900 mt-4 mb-4">Data : </th>
                        <td class="text-sm text-gray-900 font-light">{{ criterion.data }}</td>
                    </tr>

                    <tr>
                        <th class="text-sm font-medium text-gray-900">Reference's index : </th>
                        <td class="text-sm text-gray-900 font-light">{{ criterion.indexReference }}</td>
                    </tr>

                    <tr>
                        <th class="text-sm font-medium text-gray-900">Scale : </th>
                        <td class="text-sm text-gray-900 font-light">{{ criterion.scale }}</td>
                    </tr>

                    <tr>
                        <th class="text-sm font-medium text-gray-900">Coefficient : </th>
                        <td class="text-sm text-gray-900 font-light">{{ criterion.coefficient }}</td>
                    </tr>

                    <tr>
                        <th class="text-sm font-medium text-gray-900">Méthodology : </th>
                        <td class="text-sm text-gray-900 font-light">{{ criterion.methodology }}</td>
                    </tr>

                    <tr>
                        <th class="text-sm font-medium text-gray-900">Pin : </th>
                        <td class="text-sm text-gray-900 font-light">{{ criterion.pin }}</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

    <div class="mt-6 flex gap-4">
        <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" href="{{ path('app_criteria_edit', {'id': criterion.id}) }}">Update</a>
        {{ include('criteria/_delete_form.html.twig') }}
    </div>

    <div class="mt-6">
        <a class="bg-transparent hover:bg-green-500 text-green-700 font-semibold hover:text-white py-2 px-4 border border-green-500 hover:border-transparent rounded" href="{{ path('app_criteria_index') }}">Back</a>
    </div>


{% endblock %}
